[Unit]
Description=Rasch Bot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/rasch
Environment=TELEGRAM_TOKEN=7706419346:AAHp03aJloB1PjvGLCOplpvVjHnOJeVKVqs
ExecStart=/root/rasch/venv/bin/python /root/rasch/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
